@import url(http://fonts.googleapis.com/css?family=Average+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Forum);

h1, h2, h3 { 
  font-family: 'Average Sans', sans-serif; 
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

a { 
  font-family: 'Source Code Pro', monospace; 
  color: blue; 
  text-decoration: none; 
  font-size: 14px;
}

a:hover { 
  text-decoration: underline;
}

p { 
  font-family: 'Forum', serif; 
  font-size: 20px; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

body>div {
  margin: 0 auto;
  max-width: 750px;
  background-color: white;
  min-height: 100%;
  border: 0 solid #666;
  border-width: 0 1px;
  box-shadow: 0 0 4px 1px #999;
}

body>div>div {
  padding: 30px 40px 60px;
}

body>div>div>div>div { 
  margin: 0 25px; 
}

body>div>div>div>div>div { 
  margin: 0 25px; 
}

